:root {
    --white: #F5F5F5;
    --peru: #CD853F;
    --tan: #D2B48C;
    --cover: linear-gradient(90deg, rgba(160,82,45,1) 11%, rgba(37,18,5,0.2) 74%);
    --button-cover: linear-gradient(90deg, rgba(173,82,45,1) 0%, rgba(71,34,18,0.8) 80%);

    --xs-font: 29px;
    --s-font: 40px;
    --regular-font: 47px;
    --large-font: 57px; 
    --number: 70px;

    --main-font: 'Futura PT Extra Bold';
    --heading: 'Futura PT Bold';
    --normal: 'Futura PT Heavy';
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    align-items: center;
    
  }

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* place-content: center; */
    align-items: center;
    background-image: url(./Assets/img/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

 .overlay {
    border-image: var(--cover) fill 1;
 }

 .logo{
    height: 264px;
    width: 254px;
    border: 7px var(--tan) solid;
    border-radius: 100%;
    margin-bottom: 30px;
 }

 .logo-container p {
    font-family: var(--main-font);
    font-size: var(--large-font);
    margin-bottom: 50px;
    color: var(--white);
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
 }

 .logo-container button {
    border: none;
    border-radius: 50px;
    height: 85px;
    width: 216px;
    background-color: var(--peru);
    color: var(--white);
    font-family: var(--normal);
    font-size: var(--xs-font);
    cursor: pointer;
 }

 .logo-container button:hover {
    background-color: var(--tan);
 }


 .board {
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-image: var(--button-cover);
    margin: 50px auto 0 auto;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* display: block; */
    
  }

  /* .board .visible {
    display: block;
  } */

  .board.hidden {
    display: none;
  }

 .details {
   display: flex; /* Ensure this is set to flex */
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 100%;
   color: var(--white);
   display: flex; /* Change from display: none; to display: flex; */
 }

 .details p {
   font-family: var(--main-font);
   font-size: var(--regular-font);
   padding-bottom: 50px;
 }

 .details input {
   height: 84px;
   width: 722px;
   border-radius: 20px;
   border: none;
   margin: 20px;
   font-family: var(--normal);
   font-size: var(--xs-font);
   padding: 20px;
   background-color: var(--white);
   outline: none;
   color: var(--peru);
   transition: border-color 0.3s ease-in-out;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 .details input::placeholder {
  color: var(--peru);
}

.details button {
  border: none;
  border-radius: 30px;
  margin-top: 40px;
  height: 84px;
  width: 389px;
  color: var(--white);
  font-family: var(--normal);
  font-size: var(--s-font);
  cursor: pointer;
  background-color: var(--peru);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details button:hover {
  background-color: var(--tan);
}


.details button:disabled {
  background-color: var(--tan);
  cursor: not-allowed;
}

.guess {
  border: none;
  border-radius: 20px;
  height: 727px;
  width: 1092px;
  background-image: var(--button-cover);
  margin: 50px auto 0 auto;
  justify-content: center;
  align-items: center;
  display: none;
  /* display: block; */
}

.details-guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--white);
}

.details-guess p {
  font-family: var(--main-font);
  font-size: var(--regular-font);
  padding-bottom: 50px;
}

.details-guess input {
  height: 212px;
  width: 242px;
  border-radius: 30px;
  border: none;
  margin: 20px;
  font-family: var(--heading);
  font-size: var(--number);
  padding: 20px;
  background-color: var(--peru);
  outline: none;
  color: var(--white);
  transition: border-color 0.3s ease-in-out;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details-guess input::placeholder {
 color: var(--tan);
 opacity: 1.5;
 text-align: center;
}

.details-guess button {
 border: none;
 border-radius: 30px;
 margin-top: 80px;
 height: 84px;
 width: 219px;
 color: var(--white);
 font-family: var(--normal);
 font-size: var(--s-font);
 cursor: pointer;
 background-color: var(--peru);
 margin-left: 30px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details-guess button:hover {
 background-color: var(--tan);
}


.details-guess button:disabled {
 background-color: var(--tan);
 cursor: not-allowed;
}



